* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf")
      format("truetype");
  font-display: swap;
}
:root {
  --main__font: "GmarketSans";
  --main__win: "NanumSquareNeo";

  --font__size: "16px";

  --color__black: #000;
  --color__white: #fff;

  --bg__gray: #f9f7e8;
  --bg__gray2: #f7f3d6;
  --bg__gray3: #f0eabb;
  --bg__black: #62bfad;
  --bg__red: #61bfad;
}
/* 여백 초기화 */
body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

/* box-sizing 초기화 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  font-family: var(--main__font), "AppleSDGothicNeo-Regular", "Malgun Gothic",
    "맑은 고딕", "dotum", "돋움";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
body.windows button,
body.windows input,
body.windows select,
body.windows table,
body.windows textarea {
  font-family: var(--main__win);
}
/* 링크 초기화 */
a {
  text-decoration: none;
  color: var(--color__black);
}

/* 목록 초기화 */
li,
ol,
ul {
  list-style: none;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: var(--font__size);
}

/* 폰트 스타일 */
em,
address {
  font-style: normal;
}

/* 이미지 초기화 */
img {
  width: 100%;
  vertical-align: top;
}

/* 보더 초기화 */
img,
fieldset,
button {
  border: 0;
}

/* 테이블 초기화 */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* 클리어픽스 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}

/* 블라인드 효과 */
.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* ir 효과 */
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* skip */
#skip {
  position: relative;
  z-index: 1000000;
}
#skip a {
  background-color: #62bfad;
  color: #fff;
  position: absolute;
  left: -400px;
  top: 0;
  padding: 20px 40px;
}
#skip a:active,
#skip a:focus {
  left: 0;
}

/* bg */
.gray {
  background-color: var(--bg__gray);
}
.black {
  background-color: var(--bg__black);
}
.white {
  background-color: var(--color__white) !important;
  color: var(--color__black) !important;
}

/* font */
body.macintosh {
  font-family: var(--main__font) !important;
}
body.windows {
  font-family: var(--main__win) !important;
}

/* container */
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

/* borderStyle */
.bmStyle {
  border-bottom: 3px solid var(--color__black);
  position: relative;
}
.bmStyle::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: var(--color__black);
}
.btStyle {
  border-top: 3px solid var(--color__black);
  position: relative;
}
.btStyle::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: -8px;
  background-color: var(--color__black);
}

/* btnStyle */
.btnStyle {
  display: block;
  background-color: var(--color__black);
  color: var(--color__white);
  margin: 5em auto;
  font-size: 1.2em;
  padding: 0.5em 3em;
  border-radius: 50px;
  cursor: pointer;
}
.btnStyle2 {
  width: 100%;
  font-size: 1.2rem;
  background-color: var(--bg__black);
  color: var(--color__white);
  border-radius: 5px;
  padding: 0.5em;
}

/* 기본 버튼 스타일 */
.btnStyle3 {
  display: inline-block;
  padding: 0.5em;
  background-color: var(--bg__black);
  color: var(--color__white);
  width: 90px;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.btnStyle4 {
  display: inline-block;
  padding: 0.8em 2em;
  margin: 0 0.5em;
  background-color: var(--bg__black);
  color: var(--color__white);
  border-radius: 100px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.btnStyle5 {
  border: 1px solid var(--color__black);
  border-radius: 20px;
  padding: 2px 10px;
}
.btnStyle5:hover {
  background-color: var(--color__black);
  color: var(--color__white);
}
/* 간격설정 */
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}

/* 간격설정 */
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml70 {
  margin-left: 70px !important;
}

/* 간격설정 */
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr70 {
  margin-right: 70px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}

/* color style */

/* input style */
.inputStyle {
  background-color: #f9f7e8;
  width: 100%;
  border-radius: 5px;
  padding: 1em 2em;
  border: 0;
}
.inputStyle2 {
  width: 50%;
  background-color: #f9f7e8;
  border-radius: 100px;
  padding: 0.8em 2em;
  border: 0;
  font-weight: 300;
}
/* label style */
label {
  display: block;
  margin-bottom: 2px;
  font-size: 1.2em;
}
label.required::after {
  content: " *";
  color: red;
}

/* listStyle */
.listStyle2 li {
  padding-left: 16px;
  position: relative;
}
.listStyle2 li::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid var(--color__black);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.listStyle li {
  padding-left: 16px;
  position: relative;
}
.listStyle li::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--color__black);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* media */
@media (max-width: 600px) {
  .header__inner .left {
    display: none;
  }
  .header__inner .right {
    display: none;
  }
}
#main {
  min-height: 70vh;
}
#header {
  position: relative;
}
.header__inner {
  border-bottom: 3px solid var(--color__black);
  position: relative;
}
.header__inner::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color__black);
  position: absolute;
  left: 0;
  top: 49%;
  z-index: 1;
}
.header__inner .left {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 10;
  background-color: var(--bg__gray);
}
.header__inner .left .star {
  width: 30px;
  height: 30px;
  display: inline-block;
  /* border: 1px solid var(--color__black); */
  /* border-radius: 40px; */
  background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 38 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2696 37.5467V31.4312C13.2696 29.8701 14.5443 28.6046 16.1169 28.6046H21.8652C22.6204 28.6046 23.3446 28.9024 23.8786 29.4325C24.4126 29.9626 24.7125 30.6816 24.7125 31.4312V37.5467C24.7078 38.1957 24.9641 38.8198 25.4247 39.2804C25.8854 39.741 26.5121 40 27.1659 40H31.0877C32.9193 40.0047 34.6775 39.2857 35.9743 38.0016C37.2712 36.7175 38 34.974 38 33.1556V15.7337C38 14.2649 37.3441 12.8717 36.2092 11.9293L22.868 1.35174C20.5473 -0.502877 17.2222 -0.442996 14.9708 1.49396L1.93402 11.9293C0.745481 12.8439 0.0351046 14.2413 0 15.7337V33.1379C0 36.9277 3.09476 40 6.91235 40H10.7446C12.1025 40 13.206 38.9124 13.2158 37.5645L13.2696 37.5467Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: cover;
  transition: transform 0.2s ease-out;
}
.header__inner .left .star:hover {
  transform: scale(1.1);
}
.header__inner .logo {
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}
.header__inner .logo a {
  display: inline-block;
  background-color: var(--bg__gray);
  position: relative;
  z-index: 100;
  padding: 0 10px;
}
.header__inner .right {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
}
.header__inner .right li {
  display: inline-block;
}
.header__inner .right a {
  font-size: 0.88rem;
  border: 1px solid var(--color__black);
  padding: 4px 12px;
  border-radius: 30px;
  transition: all 0.2s;
  background-color: var(--bg__gray);
}
.header__inner .right a:hover {
  background-color: var(--color__black);
  color: var(--color__white);
}
/* nav__inner */
.nav__inner {
  position: absolute;
  left: 50%;
  top: 51px;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 100;
}
.nav__inner li {
  display: inline-block;
}
.nav__inner li a {
  background-color: var(--bg__gray);
  padding: 2px 4px;
  border: 1px solid var(--color__black);
  font-size: 0.88em;
  transition: all 0.2s;
}
.nav__inner li a:hover {
  background-color: var(--color__black);
  color: var(--color__white);
}
/* intro__inner */
.intro__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.intro__inner h2 {
  font-size: 34px;
  margin-bottom: 30px;
}
.intro__inner img {
  width: auto;
  margin-bottom: 20px;
}
.intro__images {
  width: 27%;
}
.intro__text {
  width: 70%;
  font-size: 1.6rem;
  font-weight: 300;
}
.intro__inner.center {
  flex-direction: column;
}
.intro__inner.center .intro__images {
  width: 20%;
  max-width: 150px;
  overflow: hidden;
}
.intro__inner.center .intro__images.small {
  width: 10%;
  max-width: 200px;
  border-radius: 30px;
}
.intro__inner.center .intro__text {
  text-align: center;
}
.intro__text em {
  color: red;
}
.intro__btn {
  margin-top: 30px;
  margin-top: 60px;
}
.intro__btn a {
  font-size: 1.2em;
  padding: 0.6em 4em;
  margin: 0.4em;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--color__black);
  color: var(--color__white);
}
/* board__inner 
board__search
board__table
board__pages
board__view
board__write
*/
.board__inner {
  padding: 100px 0;
}
.board__search {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  align-items: flex-end;
}
.board__search .left {
  width: 40%;
}

.board__search .left em {
  color: red;
}
.board__search .right {
  width: 60%;
  text-align: right;
}
.board__search .right input {
  border: 0;
  background-color: var(--color__white);
  padding: 9px 30px;
  border-radius: 5px;
  height: 42px;
}
.board__search .right select {
  border: 0;
  width: 90px;
  height: 40px;
  padding: 11px;
  border-radius: 5px;
  vertical-align: -1px;
}
.board__table {
  margin-top: 10px;
  margin-bottom: 60px;
  border-top: 2px solid var(--color__black);
  border-bottom: 2px solid var(--color__black);
  text-align: center;
}
.board__table table th {
  background-color: var(--bg__gray2);
  border-bottom: 1px solid var(--color__black);
  padding: 15px 0;
  font-weight: 500;
}
.board__table table td {
  padding: 15px 0;
  border-bottom: 1px solid var(--color__black);
}
.board__table table tr:hover {
  background-color: var(--bg__gray3);
  transition: all 0.3s;
}
.board__table table td a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.board__pages {
  margin-bottom: 100px;
}
.board__pages ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__pages li a {
  border: 1px solid #d4d4d4;
  padding: 10px 13px;
  margin-left: -1px;
}
.board__pages li a:hover {
  background-color: var(--bg__gray2);
}
.board__pages li.active a {
  background-color: var(--color__black);
  color: var(--color__white);
}
.board__view {
  margin-top: 40px;
  border-top: 2px solid var(--color__black);
  border-bottom: 2px solid var(--color__black);
}
.board__view table td,
.board__view table th {
  padding: 15px;
  border-bottom: 1px solid var(--color__black);
}
.board__view table tr:last-child td {
  height: 500px;
  vertical-align: top;
}
.board__view table th {
  background-color: var(--bg__gray2);
  font-weight: 500;
}
.border__btn {
  margin-top: 20px;
  text-align: right;
}
.board__write {
  width: 100%;
  padding: 50px 0;
}
.board__write label {
  width: 100%;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.board__write input {
  margin-bottom: 50px;
}
.board__write textarea {
  padding: 2em;
  resize: none;
}
.board__write button {
  float: right;
  margin-top: 10px;
}
/* footer__inner */
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
  padding-top: 5px;
}
/* 62bfad */
